<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    
  <div class="wave" id="wave_1"> </div>
  <div class="wave" id="wave_2"> </div>
  <div class="wave" id="wave_3"> </div>
  <div class="wave" id="wave_4"> </div>
  
  <ul class="icon-section">
    <p style="font-size: 15px; margin-right: 10px;">Contacts Me :</p>
      <li>
       <span class="circle1"> <a href="mailto: akshatshrinate2002@gmail.com"><ion-icon name="mail-outline"></ion-icon></a>
      </span></li>
      <li>
        <a href="https://www.linkedin.com/in/akshat-shrinate-5850a6195"><ion-icon name="logo-linkedin"></ion-icon></a>
      </li>
      <li>
        <a href="tel:8882192787"><ion-icon name="call-outline"></ion-icon> </ion-icon></a>
      </li>
      <li>
        <span class="circle3">   <a href="https://www.instagram.com/akshat.singh.shrinate/"><ion-icon name="logo-instagram"></ion-icon></ion-icon></a>
        </span> </li>
      <li>
        <a href="https://github.com/Shrinate214/hostl/tree/main"><ion-icon name="logo-github"></ion-icon></a>
      </li>
      
    </ul>
   
</body>
</html>