<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <style>



</style>
    
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <header class="d-flex justify-content-center py-2">
          <%- include('partials/header') %>
        </header>
      </div>
      <div class="px-4 pt-5 my-5 text-center border-bottom">
        <h1 class="display-4 fw-bold" style="font-weight: bold;color:rgb(176, 9, 9)">Acting Wing, DRAMATICS CLUB</h1>
        <p   style="font-weight: bold;color:rgb(144, 0, 255)">  Having been a member of the Acting wing of the dramatics Club, I have worked relentlessly hard in organizing several events that have spanned both my fresher and sophomore years of Engineering. Being a member of the streetplay team Natyamanch, we have represented our college at various levels of competitions.
   
        <div class="col-lg-6 px-4 pt-5 my-5">
       
 <div style="display:flex;flex-direction: row;gap:3rem;">     
 <div class="Flipcard_1">
  <div class="Flipcard_1_front">
    <div class="inner">
      <img src="pec-drams.png" style="height: 60px;width: 60px;" class="icon" alt="Example image" loading="lazy">
      <h3> PEC University of Technology</h3> 
         
    </div>
  </div>
  <div class="Flipcard_1_back">
    <div class="inner">
      <img src="pec-drams.png" style="height: 60px;width: 60px;" class="icon" alt="Example image" loading="lazy">
      <h3 > In-House Events</h3> 
         <br><p> <span style="color: rgb(255, 124, 2); ">Aaghaz se Samagam tak...</span><br>
          Successfully Participated and Organized <span style="color: rgb(255, 3, 125); ">35+ events </span> over the span of 2 years.  
         </p>
    </div>
  </div>
 </div>

 <div class="Flipcard_2">
  <div class="Flipcard_2_front">
    <div class="inner">
      <img src="Indian_Institute_of_Technology_Roorkee_logo.png"  style="height: 60px;width: 60px;"  class="icon" alt="Example image" loading="lazy">
      <h3> IIT Roorkee</h3> 
         
    </div>
  </div>
  <div class="Flipcard_2_back">
    <div class="inner">
      <img src="Indian_Institute_of_Technology_Roorkee_logo.png"  style="height: 60px;width: 60px;"  class="icon" alt="Example image" loading="lazy">
      <h3 > Street Play</h3> 
         <br><p> <span style="color: rgb(255, 3, 125); ">Finalists</span> in the Annual Techno-Cultural Festival of IIT Roorkee, Thomso in October 2022 in the Street-play Category.<br>
         </p>
    </div>
   </div>
 </div>
 

 <div class="Flipcard_3">
  <div class="Flipcard_3_front">
    <div class="inner">
      <img src="IIT-Kharagpur-01.png" class="icon" alt="Example image" loading="lazy">
      <h3> IIT kharagpur</h3> 
         
    </div>
  </div>
  <div class="Flipcard_3_back">
    <div class="inner">
      <img src="IIT-Kharagpur-01.png" class="icon" alt="Example image" loading="lazy">
      <h3 > Street Play</h3> 
         <br><p> <span style="color: rgb(255, 3, 125); ">Finalists</span> in the 64th Annual Techno-Cultural Festival of IIT kharagpur, Spring Fest in January 2023 in the Street-play Category.<br>
         </p>
    </div>
  </div>
 </div>
 </div>
 <p class="px-4 pt-5 my-5" style="font-weight: bold;color:rgb(144, 0, 255)">
  
 Some of my other accomplishments are :<br>
  <ul style="margin-left: 0px;">
    <li  style="font-weight: bold;color:rgb(3, 251, 255)">
          Brisk Short Film Festival-1st Prize
    </li>
    <li  style="font-weight: bold;color:rgb(3, 251, 255)">
       Participated in IIT Bombay-Stand Up
</li>
<li  style="font-weight: bold;color:rgb(3, 251, 255)">
  UIET (Street Play)-1st Prize
</li>
  </ul>

 </p>
         
</div>

</div>















  <!-- Body divider for non overlapping of elements with the footer  here -->
      </body> 


      <!-- footer section starts here -->
      <footer>
        <%- include('partials/footer') %>
         
      </footer>  
      
     



      
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<!-- for just the icons  -->
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>






  

</html>