<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <style>



</style>
    
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="container">
        <header class="d-flex justify-content-center py-2">
          <%- include('partials/header') %>
        </header>
      </div>


      <div class="container col-xxl-8 px-4 py-5" >
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6" >
            <img src="akshat.jpg" style="border-radius: 50%;" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="400" height="500" 
            loading="lazy">
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3" style="font-style: italic; font-weight: bold; color:yellow;">Hi, I am <span style="font-weight: bold; color:blue"> Akshat Shrinate !</h1>
            <p class="lead" style="margin-bottom: 10px; color:lightseagreen;font-weight: bold;">Welcome to my Personal Website.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
              <a href="/resume">
              <button type="button" class="btn btn btn-lg px-4 me-md-2" style="color: rgb(245, 238, 12);margin-left: 100px;
              background-color: rgb(0, 170, 161);outline: none;border: none;">Resume</button>
            </a></div>
          </div>
        </div>
      </div>
      <hr class="featurette-divider"></body>


      <!-- footer section starts here -->
      <footer>
        <%- include('partials/footer') %>
       
         
      </footer>  
      
     



      
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<!-- for just the icons  -->
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>






  

</html>