<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resume.css">
    <title>Document</title>
</head>
<body>
    <div class="Name_details">
        <div class="educationrow1">
            <a href="/">
            <button style ="background-color:#00abf0;"> < Return </button></a>
            <div class="education_colum" style="display: flex; flex-direction: row;align-items: center;
            justify-content: center;">
                <h1 > Akshat <span style="color:#00abf0"> Shrinate</span></h1>
            </div>
                <div class="education_content1">

                   <div class="content1" style="margin-bottom: 10px;"> 
                        <div class="content_line1" >
                            <div class="college1" style="display: flex; flex-direction: row;align-items: center;
                            justify-content: center;" > 
                            <div style="margin-right:3px;">
                                <a href="https://www.linkedin.com/in/akshat-shrinate-5850a6195" class="nav-link ">Linked-in  |</a> </div>
                                <div>
                                    <a href="mailto: akshatshrinate2002@gmail.com" class="nav-link ">akshatshrinate2002@gmail.com</a>  |</div>
                                    <div>
                                        +91-9555608551   |</div>
                                
                                        <div>
                                            Chandigarh, India</div>    </div>

                        
                     
                   </div>
                   
                </div>
            </div></div>
        </div>
        <div class="Body_lets_begin">
            
            <div class="educationrow">
                <div class="education_column">
                    <h3>Education</h3>
                    <div class="education_content">
                       <div class="content" style="width:625px;gap:5rem; margin-bottom: 10px;"> 
                            <div class="content_line1" style="display: flex; flex-direction: row; justify-content:space-between;">
                                  <div class="college" style="display: inline" >
                               <h4 style="display: inline"> PEC University of technology, Chandigarh</h4>
                                 </div>
                                 <div class="Year" style="display: inline" > 2021-2025</div>    
                            </div>

                            <div class="content_line2" style="display: flex; flex-direction: row; justify-content:space-between;">
                                  <div class="college">
                               B.Tech in Electronics and Communication Engineering
                                  </div>
                                  <div class="Score"> CGPA: 7.15</div>    
                            </div>

                         </div>
                         <div class="content" style="width:625px;gap:5rem; margin-bottom: 10px;"> 
                            <div class="content_line1" style="display: flex; flex-direction: row; justify-content:space-between;">
                                  <div class="college" style="display: inline">
                                    <h4 style="display: inline"> Academic Global School, Gorakhpur</h4>
                                
                                 </div>
                                 <div class="Year"> 2019-2021</div>    
                            </div>

                            <div class="content_line2" style="display: flex; flex-direction: row; justify-content:space-between;">
                                  <div class="college" >
                               Class 12th, CBSE
                                  </div>
                                  <div class="Score"> 83.5%</div>    
                            </div>

                         </div>
                         
                         <div class="content" style="width:625px;gap:5rem; margin-bottom: 10px;"> 
                            <div class="content_line1" style="display: flex; flex-direction: row; justify-content:space-between;">
                                  <div class="college" style="display: inline">
                                    <h4 style="display: inline"> Little Flower School, Gorakhpur</h4>
                                
                                 </div>
                                 <div class="Year"> 2006-2019</div>    
                            </div>

                            <div class="content_line2" style="display: flex; flex-direction: row; justify-content:space-between;">
                                  <div class="college">
                                         <p style ="margin-top: 0px;margin-bottom: 0px;"> Class X, ICSE</p>
                                         
                                         <ul style ="margin-top: 0px;margin-bottom: 0px;">
                                            <li>
                                                Among the Top 2% in a batch of 400+ students 
                                            </li>
                                         </ul>
                                  </div>
                                  <div class="Score"> 94%</div>    
                            </div>

                         </div>

                    </div>
                </div>
            </div>
            <div class="education_column" style="margin-top: 0; width: 640px;;">
                <h3 style="margin: 0 0 1.4rem;">Technical Knowledge and Soft SKills </h3>
                
                    <p><span style="font-weight: bold;">Programming Languages :</span>  C++(Proficient), Python, Java (Familiar)
                        <br> 
                        <span style="font-weight: bold;">Relational Database :</span>  Microsoft SQL Server
                            <br> 
                    <span style="font-weight: bold;">Web Development :</span>  HTML 5, CSS, Javascript, JQuery, EJS, Express JS, Node JS, React, Mongo  
                    <span style="font-weight: bold;">Coding Platforms :</span>  Code Blocks, VSCode
                        <br> 
                        <span style="font-weight: bold;">MS Office :</span> Excel | Powerpoint | Word                             
                        <br> 
                            <span style="font-weight: bold;">Other Skills :</span> Arduino UNO , Tina Ti, Free CAD, Auto CAD
                                <br>   
                            <span style="font-weight: bold;">Libraries :</span> Numply, Pandas, MatPlotLib (Machine Learning)
                                    <br>
                                    <span style="font-weight: bold;">Soft Skills :</span> Problem Solving | Proficient Communication Skills | Adaptability | Team Work
                                    <br> </p>
                    
             

                </div>
            
            <div class="educationrow">
                <div class="education_column">
                    <h3>Projects</h3>
                    <div class="education_content">
                       <div class="content" style="width:625px;gap:5rem; margin-bottom: 10px;"> 
                            <div class="content_line1" style="display: flex; flex-direction: row; justify-content:space-between;">
                                  <div class="college" style="display: inline" >
                               <h4 style="display: inline"> Arduino-based RFID door lock system with Camera Interfacing</h4>
                                 </div>
                                 <div class="Year" style="display: inline" > January 2023</div>    
                            </div>

                            <div class="content_line2" style="display: flex; flex-direction: row; justify-content:space-between;">
                                  <div class="college">
                                    <ul style ="margin-top: 0px; margin-left: 0px;">
                                        <li>
                                            Created a robust security system that reports unauthorized access attempts using GSM.
                                            </li>
                                        <li>
                                           Demonstrated strong technical skills in Arduino UNO &#44; RFID&#44; camera interfacing, and GSM communication
                                       
                                        </li>
                                             
                                     </ul>                        
                                  </div>
                                   
                            </div>

                         </div>
                         <div class="content" style="width:625px;gap:5rem; margin-bottom: 10px;"> 
                            <div class="content_line1" style="display: flex; flex-direction: row; justify-content:space-between;">
                                  <div class="college" style="display: inline">
                                    <h4 style="display: inline"> Personal Portfolio Website</h4>
                                
                                 </div>
                                 <div class="Year"> March 2023</div>    
                            </div>

                            <div class="content_line2" style="display: flex; flex-direction: row; justify-content:space-between;">
                                  <div class="college" >
                                    <ul style ="margin-top: 0px; margin-left: 0px;">
                                        <li>
                                            Designed and Implemented a visually Appealing Interface using HTML 5, CSS, Bootstrap and Java Script  </li>
                                     <li>
                                         Incorporated a responsive design approach so that the website is optimised for various screen sizes.
                                       
                                        </li>
                                             
                                     </ul>       
                                  </div>
                               
                            </div>

                         </div>
                         <div class="content" style="width:650px;gap:5rem; margin-bottom: 10px;"> 
                            <div class="content_line1" style="display: flex; flex-direction: row; justify-content:space-between;">
                                  <div class="college" style="display: inline">
                                    <h4 style="display: inline">Hostel_allocation Project (ongoing)</h4>
                                
                                 </div>
                                 <div class="Year"> 10July-17july 2023</div>    
                            </div>
 
                            <div class="content_line2" style="display: flex; flex-direction: row; justify-content:space-between;">
                                  <div class="college" >
                                    <ul style ="margin-top: 0px; margin-left: 0px;">
                                        <li>
                                       Uses Sql and MongoDB along with Node JS and Express for automatic allocation of hostels for a college</li>
                                        <li>
                                             Uses a secure Client-Admin user interface for accessing various features on both the students and warden' side of the web applicaiton</li>
                                             
                                     </ul>       
                                  </div>
                               
                            </div>
                        </div>
                        <div class="content" style="width:650px;gap:5rem; margin-bottom: 10px;"> 
                            <div class="content_line1" style="display: flex; flex-direction: row; justify-content:space-between;">
                                  <div class="college" style="display: inline">
                                    <h4 style="display: inline">Real Exstate Price Prediction</h4>
                                
                                 </div>
                                 <div class="Year"> Sept 2022- Nov 2022</div>    
                            </div>
 
                            <div class="content_line2" style="display: flex; flex-direction: row; justify-content:space-between;">
                                  <div class="college" >
                                    <ul style ="margin-top: 0px; margin-left: 0px;">
                                        <li>
                                        Uses Linear Regression to analyse historical Property Transactions</li>
                                        <li>
                                        developed a Real Estate Price Predictor to train and predict prices in Bangalore, India</li>
                                             
                                     </ul>       
                                  </div>
                               
                            </div>
                        </div>
                        
                        

                    </div>
                </div>
            
            </div>
            <div class="educationrow">
                <div class="education_column">
                    <h3>Work Experience and Position of Responsibility</h3>
                    <div class="education_content">
                       <div class="content" style="width:650px;gap:5rem; margin-bottom: 10px;"> 
                            <div class="content_line1" style="display: flex; flex-direction: row; justify-content:space-between;">
                                  <div class="college" style="display: inline" >
                               <h4 style="display: inline"> </h4>
                                 </div>
                                 <div class="Year" style="display: inline" > January 2023</div>    
                            </div>

                            <div class="content_line2" style="display: flex; flex-direction: row; justify-content:space-between;">
                                  <div class="college"> <span style="font-weight: bold;">Chandigarh Police Cyber Cell </span> (Cyber Swacchta Mission)
                                    <ul style ="margin-top: 0px; margin-left: 0px;">
                                        <li>
                                            Worked as a volunteer under the MoU signed between Chandigarh Police Cyber Cell and PEC  </li>
                                       
                                             
                                     </ul>                        
                                  </div>
                                   
                            </div>

                         </div>
                         <div class="content" style="width:650px;gap:5rem; margin-bottom: 10px;"> 
                            <div class="content_line1" style="display: flex; flex-direction: row; justify-content:space-between;">
                                  <div class="college" style="display: inline">
                                    <h4 style="display: inline"> DRAMATICS CLUB, Acting Wing</h4>
                                
                                 </div>
                                 <div class="Year"> Jan 2022- Present</div>    
                            </div>

                            <div class="content_line2" style="display: flex; flex-direction: row; justify-content:space-between;">
                                  <div class="college" >
                                    <ul style ="margin-top: 0px; margin-left: 0px;">
                                        <li>
                                          Supervised a team of 30+ Juniors in adeptly organizing events round the year (25+ events).  <li>
                                            Collaborated effectively with seniors and ensured seamless coordination and teamwork .
                                        </li>
                                             
                                     </ul>       
                                  </div>
                               
                            </div>

                         </div>
                        </div>
                        <div class="content" style="width:650px;gap:5rem; margin-bottom: 10px;"> 
                           <div class="content_line1" style="display: flex; flex-direction: row; justify-content:space-between;">
                                 <div class="college" style="display: inline">
                                   <h4 style="display: inline">PECFEST Committee Member</h4>
                               
                                </div>
                                <div class="Year"> Sept 2022- Nov 2022</div>    
                           </div>

                           <div class="content_line2" style="display: flex; flex-direction: row; justify-content:space-between;">
                                 <div class="college" >
                                   <ul style ="margin-top: 0px; margin-left: 0px;">
                                       <li>
                                        Sub Head of the Cultural Co-ordination Committee along with Publcity and PR Committee <li>
                                            Ensured smooth execution of cultural events by handling logistics and resources efficiently.</li>
                                            
                                    </ul>       
                                 </div>
                              
                           </div>
                        </div>
                      
                        <div class="content" style="width:650px;gap:5rem; margin-bottom: 10px;"> 
                            <div class="content_line1" style="display: flex; flex-direction: row; justify-content:space-between;">
                                  <div class="college" style="display: inline">
                                    <h4 style="display: inline">Branch In Charge- ECE orientation</h4>
                                
                                 </div>
                                 <div class="Year"> Nov 2022</div>    
                            </div>
 
                            <div class="content_line2" style="display: flex; flex-direction: row; justify-content:space-between;">
                                  <div class="college" >
                                    <ul style ="margin-top: 0px; margin-left: 0px;">
                                        <li>
                                        Acted as the direct POC for 120+ juniors during the 8 day Orientation Cycle.</li>
                                        <li>
                                             Assisted Seniors and Professors in the smooth integration of new comers to the Department.</li>
                                             
                                     </ul>       
                                  </div>
                               
                            </div>
                        </div>
                        <div class="content" style="width:650px;gap:5rem; margin-bottom: 10px;"> 
                            <div class="content_line1" style="display: flex; flex-direction: row; justify-content:space-between;">
                                  <div class="college" style="display: inline">
                                    <h4 style="display: inline">Annual Sports Meet Event Organizing Committee Subhead </h4>
                                
                                 </div>
                                 <div class="Year"> March 2023</div>    
                            </div>
 
                            <div class="content_line2" style="display: flex; flex-direction: row; justify-content:space-between;">
                                  <div class="college" >
                                    <ul style ="margin-top: 0px; margin-left: 0px;">
                                        <li>
                                      Successfully managed the registration process for the 3 day event with 600+ registrations.</li>
                                       <li>
                                             Managed the logistics, scheduling and Co-ordinated with other Committees for the event.</li>
                                             
                                     </ul>       
                                  </div>
                               
                            </div>
                        </div>
                          
                         
                        

                    </div>
                </div>
            
            </div>
            
            <div class="educationrow" style="margin-bottom: 10px;">
                <div class="education_column" >
                    <h3>Achievements</h3>
                    <div class="education_content">
                       <div class="content" style="margin-bottom: 10px;display: grid;"> 
                            <div class="content_line1" style="display: flex; flex-direction: row; justify-content:space-between;">
                                  <div class="college" style="display: inline; width:650px;" >
                                    <ul style ="margin-top: 0px; margin-left: 0px;">
                                        <li>
                                     Secured an A grade in Course- Data Structures and ALgorithms.</li>
                                      <li>
                                     Finalist-<span style="font-weight: bold;"> IIT Roorkee</span> (Thomso 2022- Street Play)        </li>
                                     <li>
                                        Finalist-<span style="font-weight: bold;"> IIT Kharagpur</span> (Spring Fest 2023- Street Play)        </li>       
                                     </ul>
                            </div>
                            <div class="college" style="display: inline; width:650px;" >
                                <ul style ="margin-top: 0px; margin-left: 0px;">
                                    
                                <li> Finalist-<span style="font-weight: bold;"> IIT Roorkee</span> (Thomso 2022- Street Play)        </li>
                                 <li>
                                    <span style="font-weight: bold;">1st </span> -UIET (Street Play)</li>
                                
                                 <li>
                                   Brisk FIlm Festival <span style="font-weight: bold;">1st </span>         </li>       
                                 </ul>
                        </div>

                         </div>

                       </div>
                    </div>
                </div>
            </div>
            <div class="educationrow">
                <div class="education_column">
                    <h3>Relevant Courses</h3>
                    <div class="education_content">
                       <div class="content" style="margin-bottom: 10px;display: grid;"> 
                            <div class="content_line1" style="display: flex; flex-direction: row; justify-content:space-between;">
                                  <div class="college" style="display: inline; width:650px;" >
                                    <ul style ="margin-top: 0px; margin-left: 0px;">
                                        <li>
                                     AI and ML.</li>
                                      <li>
<span style="font-weight: bold;">Certificate of Excellence in C++</span> -Coding Ninjas       </li>
                                    </ul>
                            </div>
                            <div class="college" style="display: inline; width:650px;" >
                                <ul style ="margin-top: 0px; margin-left: 0px;">
                                    
                                <li> <span style="font-weight: bold;"> Financial Analyst</span> Udemy        </li>
                                <li>
                                    <span style="font-weight: bold;"> Web Development</span>- Udemy        </li>       
                                 
                        </div>

                         </div>

                       </div>
                    </div>
                </div>
            </div>
    </div>
          </div>
          
        </div> 
          
    </div>

</body>
</html>